{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <!-- Other meta tags and links -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/Review.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/showreview.css' %}">
    
</head>
  

<!-- BEGIN #product -->
<div id="product" class="section-container p-t-20">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Mobile Phone</a></li>
            <li><a href="#">Apple</a></li>
            <li class="active">iPhone 6S Plus</li>
        </ul>
        <!-- END breadcrumb -->

        <!-- BEGIN product -->
        <div class="product">
            <!-- BEGIN product-detail -->
            <div class="product-detail">
                <!-- BEGIN product-image -->
                <div class="product-image">
                    <!-- BEGIN product-thumbnail -->
                    <div class="product-thumbnail">
                        {% for img in image %}
                        <ul class="product-thumbnail-list">
                            <li class="active"><a href="#" data-click="show-main-image"
                                    data-url="{{img.image.url }}"><img src="{{img.image.url }}" alt="" /></a></li>
                        </ul>
                        {% endfor %}
                    </div>
                    <!-- END product-thumbnail -->
                    <!-- BEGIN product-main-image -->
                    <div class="product-main-image" data-id="main-image">
                        <img src="{{product.image.url}}" alt="" />
                    </div>
                    <!-- END product-main-image -->
                </div>
                <!-- END product-image -->
                <!-- BEGIN product-info -->
                <div class="product-info">
                    <!-- BEGIN product-info-header -->
                    <div class="product-info-header">
                        <h1 class="product-title"><span class="label label-success">{{product.discount_offer}}%</span>
                            {{product.name}} </h1>
                        <ul class="product-category">
                            <li><a href="#">iPhone</a></li>
                            <li>/</li>
                            <li><a href="#">mobile phone</a></li>
                            <li>/</li>
                            <li><a href="#">electronics</a></li>
                            <li>/</li>
                            <li><a href="#">lifestyle</a></li>
                        </ul>
                    </div>
                    <!-- END product-info-header -->
                    <!-- BEGIN product-warranty -->
                    <div class="product-warranty">
                        <div class="pull-right">Availability: {{product.stock}}</div>
                        <div><b>1 Year</b> Local Manufacturer Warranty</div>
                    </div>
                    <!-- END product-warranty -->
                    <!-- BEGIN product-info-list -->
                    <ul class="product-info-list">
                        <li><i class="fa fa-circle"></i>{{product.discription}}</li>


                    </ul>
                    <!-- END product-info-list -->
                    <!-- BEGIN product-social -->
                    <div class="product-social">
                        <ul>
                            <li><a href="javascript:;" class="facebook" data-toggle="tooltip" data-trigger="hover"
                                    data-title="Facebook" data-placement="top"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:;" class="twitter" data-toggle="tooltip" data-trigger="hover"
                                    data-title="Twitter" data-placement="top"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:;" class="google-plus" data-toggle="tooltip" data-trigger="hover"
                                    data-title="Google Plus" data-placement="top"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href="javascript:;" class="whatsapp" data-toggle="tooltip" data-trigger="hover"
                                    data-title="Whatsapp" data-placement="top"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="javascript:;" class="tumblr" data-toggle="tooltip" data-trigger="hover"
                                    data-title="Tumblr" data-placement="top"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>
                    <!-- END product-social -->
                    <!-- BEGIN product-purchase-container -->
                    <div class="product-purchase-container">
                        <div class="product-discount">
                            <span class="discount">$-{{product.discount_price}}</span>
                        </div>
                        <div class="product-price">
                            <div class="price">$-{{product.price}}</div>
                        </div>
                        <form action="{% url 'checkout_cart' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="prod_id" value="{{ product.id }}" id="prod_id">
                            <input type="hidden" name="operation" value="increase">
                            <button class="btn btn-inverse btn-lg" type="submit">ADD TO CART</button>
                        </form>
                    </div>
                    <!-- END product-purchase-container -->
                </div>
                <!-- END product-info -->
            </div>
            <!-- END product-detail -->
            <!-- BEGIN product-tab -->
            <div class="product-tab">
                <!-- BEGIN #product-tab -->
                <ul id="product-tab" class="nav nav-tabs">
                    <li class="active"><a href="#product-desc" data-toggle="tab">Product Description</a></li>
                    <li class=""><a href="#product-info" data-toggle="tab">Additional Information</a></li>
                    <li class=""><a href="#product-reviews" data-toggle="tab">Rating & Reviews (5)</a></li>
                </ul>
                <!-- END #product-tab -->
                <!-- BEGIN #product-tab-content -->
                <div id="product-tab-content" class="tab-content">
                    <!-- BEGIN #product-desc -->
                    <div class="tab-pane fade active in" id="product-desc">
                        <!-- BEGIN product-desc -->
                        {% for img in image %}
                        <div class="product-desc">
                            <div class="image">
                                <img src="{{img.image.url}}" alt="" />
                            </div>
                            <div class="desc">
                                <h4>{{product.name}}</h4>
                                <p>
                                    {{product.discription}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- END product-desc -->

                        <!-- BEGIN product-desc -->

                        <!-- END product-desc -->
                    </div>
                    <!-- END #product-desc -->
                    <!-- BEGIN #product-info -->
                    <div class="tab-pane fade" id="product-info">
                        <!-- BEGIN table-responsive -->
                        <div class="table-responsive">
                            <!-- BEGIN table-product -->
                            <table class="table table-product table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>iPhone 6s</th>
                                        <th>iPhone 6s Plus</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="field">Capacity</td>
                                        <td>
                                            16GB<br />
                                            64GB<br />
                                            128GB
                                        </td>
                                        <td>
                                            16GB<br />
                                            64GB<br />
                                            128GB
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">Weight and Dimensions</td>
                                        <td>
                                            5.44 inches (138.3 mm) x 2.64 inches (67.1 mm) x 0.28 inch (7.1 mm)<br />
                                            Weight: 5.04 ounces (143 grams)
                                        </td>
                                        <td>
                                            6.23 inches (158.2 mm) x 3.07 inches (77.9 mm) x 0.29 inch (7.3 mm)<br />
                                            Weight: 6.77 ounces (192 grams)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">Display</td>
                                        <td>
                                            Retina HD display with 3D Touch<br />
                                            4.7-inch (diagonal) LED-backlit widescreen<br />
                                            1334-by-750-pixel resolution at 326 ppi<br />
                                            1400:1 contrast ratio (typical)<br />
                                            <br />
                                            <b>Both models:</b><br />
                                            500 cd/m2 max brightness (typical)<br />
                                            Full sRGB standard<br />
                                            Dual-domain pixels for wide viewing angles<br />
                                            Fingerprint-resistant oleophobic coating on front<br />
                                            Support for display of multiple languages and characters
                                            simultaneously<br />
                                            Display Zoom<br />
                                            Reachability
                                        </td>
                                        <td>
                                            Retina HD display with 3D Touch<br />
                                            5.5-inch (diagonal) LED-backlit widescreen<br />
                                            1920-by-1080-pixel resolution at 401 ppi<br />
                                            1300:1 contrast ratio (typical)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">Chip</td>
                                        <td colspan="2">
                                            A9 chip with 64-bit architecture Embedded M9 motion coprocessor
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">iSight Camera</td>
                                        <td colspan="2">
                                            New 12-megapixel iSight camera with 1.22µ pixels<br />
                                            Live Photos<br />
                                            Autofocus with Focus Pixels<br />
                                            Optical image stabilization (iPhone 6s Plus only)<br />
                                            True Tone flash<br />
                                            Panorama (up to 63 megapixels)<br />
                                            Auto HDR for photos<br />
                                            Exposure control<br />
                                            Burst mode<br />
                                            Timer mode<br />
                                            ƒ/2.2 aperture<br />
                                            Five-element lens<br />
                                            Hybrid IR filter<br />
                                            Backside illumination sensor<br />
                                            Sapphire crystal lens cover<br />
                                            Auto image stabilization<br />
                                            Improved local tone mapping<br />
                                            Improved noise reduction<br />
                                            Face detection<br />
                                            Photo geotagging
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">Video Recording</td>
                                        <td colspan="2">
                                            4K video recording (3840 by 2160) at 30 fps<br />
                                            1080p HD video recording at 30 fps or 60 fps<br />
                                            720p HD video recording at 30 fps<br />
                                            Optical image stabilization for video (iPhone 6s Plus only)<br />
                                            True Tone flash<br />
                                            Slo-mo video support for 1080p at 120 fps and 720p at 240 fps<br />
                                            Time-lapse video with stabilization<br />
                                            Cinematic video stabilization (1080p and 720p)<br />
                                            Continuous autofocus video<br />
                                            Improved noise reduction<br />
                                            Take 8MP still photos while recording 4K video<br />
                                            Playback zoom<br />
                                            3x zoom<br />
                                            Face detection<br />
                                            Video geotagging
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- END table-product -->
                        </div>
                        <!-- END table-responsive -->
                    </div>
                    <!-- END #product-info -->
                    <!-- BEGIN #product-reviews -->
                    <div class="tab-pane fade" id="product-reviews">
                        <!-- BEGIN row -->
                        <div class="row row-space-30">
                            <!-- BEGIN col-7 -->
                            <div class="col-md-7">
                             
                                
                                 <!-- BEGIN review -->
                                 {% for review in product.productreview_set.all %}
                                    <div class="review">
                                        <p class="rating">Rating: {{ review.rating }}</p>
                                        <p class="comment">Comment: {{ review.comment }}</p>
                                        <p class="username">By: {{ review.user.username }}</p>
                                        <p class="date">Date: {{ review.created_at }}</p>
                                    </div>
                                {% endfor %}
                                     <!-- END review -->
                            </div>
                            <!-- END col-7 -->
                            <!-- BEGIN col-5 -->
                            <div class="col-md-5">
                                <!-- BEGIN review-form -->
                                <div class="review-form"> 
                                    <!-- review_form.html -->
                                    <h2>Add Your Review for <br> {{ product.name }}</h2>
                                    {% if user.is_authenticated %}
                                        <form method="post" action="{% url 'product_detail' product.pk %}">
                                        {% csrf_token %}
                                      <label for="rating">Rating:</label>
                                      <select name="rating" id="rating">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                      </select><br>
                                      <label for="comment">Comment:</label>
                                      <textarea name="comment" id="comment" rows="4" cols="50"></textarea><br>
                                      <input type="submit" value="Submit Review">
                                    {% else %}
                                    <p>Please <a href="{% url 'login' %}">log in</a> to write a review.</p>
                                    {% endif %}
                                    </form>
                                    <br>
                                </div>
                                <!-- END review-form -->
                            </div>
                            <!-- END col-5 -->
                        </div>
                        <!-- END row -->
                    </div>
                    <!-- END #product-reviews -->
                </div>
                <!-- END #product-tab-content -->
            </div>
            <!-- END product-tab -->
        </div>
        <!-- END product -->

        <!-- BEGIN similar-product -->
        <h4 class="m-b-15 m-t-30">You Might Also Like</h4>
        <div class="row row-space-10">
            <div class="col-md-2 col-sm-4">
                <!-- BEGIN item -->
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="{% static 'assets/img/iphone.png' %}" alt="">
                        <div class="discount">15% OFF</div>
                    </a>
                    <div class="item-info">
                        <h4 class="item-title">
                            <a href="product_detail.html">iPhone 6s Plus<br>16GB</a>
                        </h4>
                        <p class="item-desc">3D Touch. 12MP photos. 4K video.</p>
                        <div class="item-price">$649.00</div>
                        <div class="item-discount-price">$739.00</div>
                    </div>
                </div>
                <!-- END item -->
            </div>
            <div class="col-md-2 col-sm-4">

            </div>
            <div class="col-md-2 col-sm-4">

            </div>
            <div class="col-md-2 col-sm-4">

            </div>
            <div class="col-md-2 col-sm-4">

            </div>
            <div class="col-md-2 col-sm-4">

            </div>
        </div>
        <!-- END similar-product -->
    </div>
    <!-- END container -->
</div>
<!-- END #product -->

{% endblock content %}